<header class="site-header" role="banner">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}

    {%- if page_paths -%}
      <nav class="navbar navbar-expand-md navbar-light" role="navigation">
        <a class="navbar-brand site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link page-link" href="{{ "assets/mccarthy_cv_06_28_20.pdf" | relative_url }}">cv</a>
            {%- for path in page_paths -%}
              {%- assign my_page = site.pages | where: "path", path | first -%}
              {%- if my_page.title -%}
              <a class="nav-item nav-link page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
              {%- endif -%}
            {%- endfor -%}
            </div>
        </div>
      </nav>
    {%- endif -%}
  </div>
</header>
