---
---

@charset "utf-8";

// // 1. Configuration and helpers
// @import '1-helpers/mixins';
// @import '1-helpers/variables';
// @import '2-helpers/normalize';

// // 2. Base stuff
// @import '2-basics/base';
// @import '2-basics/fonts';

//@import "minima/base";

$text-color:       #333 !default;


:root {
    --main-text-color: #2E3B44; 
    --main-text-color-hover: #0F8B8D; 

    --myred: #D33E43; 
    --myblue: #29335C; 
    --mygreen: #0F8B8D;
    --mycream: #EAEAEA;
    --mysnow: #F9F9F9;

  }  

body {
    color: $text-color;
    background-color: var(--mysnow) !important;
    padding: 0;
    margin: 0;
}


h1,h2 {
    font-family: 'Alegreya', serif;
}

/* deleted this line from bootstrap min @media (min-width:1200px){.container{max-width:1200px}} */


h3,h4,p,a {
    font-family: 'Lato', sans-serif;
}

  /*--- Head ---*/

#name-title a{
    color: var(--myblue);
    font-family: 'Alegreya', serif;
    text-decoration: none;
}


    /*--- navigation bar ---*/
.nav-link{
    color: var(--main-text-color);
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: var(--main-text-color-hover);
}
.navbar-collapse {
    justify-content: flex-end;
}

  /*--- Home Content ---*/

.lcol {
    color: var(--main-text-color);
    /* margin-left: 3%; */
    /* margin-right: 3%; */
}

.lcol p {
    font-size: 1.1rem;
    line-height: 1.5;
    text-align: justify;
}


#headshot {
    height: 200px;
    border-radius: 50%;
}

#home-content {
    margin-top: 30px;
}


  /*--- Lines --*/


.line-side {
    border-top: 1px solid var(--myblue);
    width: 5px;
}

.left{
    margin-right: 5px;
}

.right {
    margin-left: 5px;
}

.outer{
    border-top: 1px solid var(--myred);
    width: 3px;
}

.left.outer{
    margin-left: auto;
}

.right.outer {
    margin-right: auto;
}

    /*--- Top line --*/

    #top-line {
        width: 100%;
    }

    /*--- Footer --*/

.line-center {
    border-top: 1px solid var(--mygreen);
    width: 100%;
}

    /*--- Mailto copy to clipboard --*/

.mailto-wrapper {
	position: relative;
}
.mailto-message {
    font-family: 'Lato', sans-serif;
	top: 0;
	left: 50%;
    transform: translate(-50%, 130%);
	position: absolute;
	display: none;
	width: auto;
	white-space: nowrap;
	font-size: 11px;
	color: #2E3B44;
    padding: 2px 6px;
	
}
.mailto-wrapper:hover .mailto-message {
	display: block;
}