---
---

@charset "utf-8";

@import "minima";

// // 1. Configuration and helpers
// @import '1-helpers/mixins';
// @import '1-helpers/variables';
// @import '2-helpers/normalize';

// // 2. Base stuff
// @import '2-basics/base';
// @import '2-basics/fonts';

//@import "minima/base";


h1, h2, h3, h4, h5, h6 {
    font-family: $secondary-font-family;
}

a:visited{
    color: $brand-color;
}

.site-title{
    font-family: $secondary-font-family;
    color: $brand-color !important;
}

.site-header{
    border-top: none;
    border-bottom: none;
}

.navbar a:hover {
    color: $brand-color;
    text-decoration: none;
}

a.page-link{
    background-color: transparent;
    border: none;
    color: $text-color;
    font-weight: bolder;
    transform: skewX(0.2rad);
}

.page-link:hover{
    background-color: transparent;
    color: $brand-color;
    transform: skewX(0rad);
}

.page-link:active{
    background-color: transparent;
    transform: skewX(0rad);
}




  /*--- Home Content ---*/

.lcol {
    color: var(--main-text-color);
    /* margin-left: 3%; */
    /* margin-right: 3%; */
}

.lcol p {
    font-size: 1.1rem;
    line-height: 1.5;
    text-align: justify;
}


#headshot{
    border-radius: 50%;
 }


#home-content {
    margin-top: 30px;
}


  /*--- Lines --*/


.line-side {
    border-top: 1px solid var(--myblue);
    width: 5px;
}

.left{
    margin-right: 5px;
}

.right {
    margin-left: 5px;
}

.outer{
    border-top: 1px solid var(--myred);
    width: 3px;
}

.left.outer{
    margin-left: auto;
}

.right.outer {
    margin-right: auto;
}

    /*--- Top line --*/

    #top-line {
        width: 100%;
    }

    /*--- Footer --*/

.social img{
    width: 25px;
    align-content: center;
}

.social-button {
    border: none;
    background-color: transparent;
}

.footer-contact{
    font-size: 80%;
}



    /*--- Mailto copy to clipboard --*/

.mailto-wrapper {
	position: relative;
}
.mailto-message {
    font-family: $base-font-family;
	top: 0;
    left: 50%;
    transform: translate(-50%, 130%);
	position: absolute;
	display: none;
	width: auto;
	white-space: nowrap;
	font-size: 11px;
	color: #2E3B44;
    padding: 2px 6px;
    background-color: rgba(255,255,255,0.8);
	
}
.mailto-wrapper:hover .mailto-message {
	display: block;
}

